<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>juegoDeMemoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>406988B31C8CDDD200C79508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>406988C71C8CDDD200C79508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>406988D21C8CDDD200C79508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
